<div class="admin_header">
    <P>Dirt Waves Admin</p>
</div>

<div class="admin_btn_text"><p>Select Category to view</p></div>

<div class="admin_btn">
    <button ng-click="toggle_admin_products()" class="btn">Show Products</button>
    <button ng-click="toggle_admin_users()" class="btn">Show Users</button>
    <button ng-click="toggle_admin_orders()" class="btn">Show Orders</button>
</div>

<div class="admin_content_container">

    <div ng-show="admin_products" id="admin_content_products" class="admin_content">
        <h3>Products</h3>
        <input ng-model="sortProduct" type="text" placeholder="Product Search"></input><br>
        <input ng-model="newProduct.title" type="text" placeholder="New Product title"></input>
        <input ng-model="newProduct.category" type="text" placeholder="New product cat."></inpu>
        <input ng-model="newProduct.description" type="text" placeholder="New Product desc."></input>
        <input ng-model="newProduct.price" type="text" placeholder="New Product price"></input>
        <input ng-model="newProduct.image" type="text" placeholder="New Product img"></input><br>
        <button ng-click="addNewProduct(newProduct)" class="btn">Add new Product</button><br>

        <input ng-model="selected.title" type="text" placeholder="Update/remove title"></input>
        <input ng-model="selected.category" type="text" placeholder="Update/remove cat."></input>
        <input ng-model="selected.description" type="text" placeholder="Update/remove desc."></input>
        <input ng-model="selected.price" type="text" placeholder="Update/remove price"></input>
        <input ng-model="selected.image" type="text" placeholder="Update/remove img"></input><br>
        <button ng-click="updateProduct(selected)" class="btn update_remove_btn">Update Product</button><button ng-click="removeProduct(selected)" class="btn update_remove_btn">Remove Product</button>
        <p class="admin_product_text" ng-class="{admin_select: selected === product}" ng-repeat="product in products | filter: sortProduct" ng-click="selectProduct(product)">{{product.title}}|{{product.category}}|{{product.description}}|${{product.price}}|{{product.image}}</p>
    </div>

    <div ng-show="admin_users" id="admin_content_users" class="admin_content">
        <h3>Users</h3>
        <input ng-model="sortUser" type="text" placeholder="User Search"></input>
        <p ng-repeat="users in allUsers | filter: sortUser">{{users.name || users.email}}</p>
    </div>

    <div ng-show="admin_orders" id="admin_content_orders" class="admin_content">
        <h3>Orders</h3>
        <input ng-model="sortOrder" placeholder="Order Search"></input>
        <p ng-repeat="order in allOrders | filter: sortOrder">Order#: DW{{order._id}}&nbsp;&nbsp;{{order.orderDate | date: yyyy-MM-dd}}</p>
    </div>

</div>
