<div class="shop_order_header">
    <P>Dirt Waves</p>
</div>

<div class="user_status_icons">
        <button class="btn"><i ng-click="toggle_current_user()" class="fa fa-user fa-2x"></i></button>
        <button class="btn"><a ui-sref="shop"<i class="fa fa-shopping-bag fa-2x"></i></a></button>
        <button ng-click="logout()" class="btn"><i class="fa fa-times fa-2x"></i></button>
</div>

<div class="user_status_text">
    <p ng-show="current_user">You are logged in as: {{user_name.name || user_name.email}}</p>
</div>

<div ng-hide="checkoutAndConfirmation" class="checkout_item_container">
    <p class="product_title">Order Summary</p>
        <div ng-repeat="product in user_name.cart">
            <p>{{product.id.title}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;qty:{{product.qty}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i ng-click="addQty(product)" class="fa fa-plus-square"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i ng-click="removeQty(product)" class="fa fa-minus-square"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;${{product.id.price}} each&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i ng-click="removeItemFromCart(product)" class="fa fa-times"></i></p>
        </div>
</div>

    <hr ng-hide="checkoutAndConfirmation" id="hr">

<div ng-hide="checkoutAndConfirmation" class="order_confirm_container">
    <p>Subtotal {{subtotal | currency}}</p>
    <p>tax and $10 UPS shipping {{taxAndShipping | currency}}</p>
    <p>total {{total | currency}}</p>
    <button id="submit_order_button" ng-click="submitOrder(user_name, total); toggleCheckoutAndConfirmation(); createConfirmation()" class="btn">Submit Order</button><br><br><br>
</div>

<div ng-show="checkoutAndConfirmation" class="checkout_item_container">
    <p class="product_title">Order Confirmation</p>
    <p>Your order number is DW{{user_name.orders[user_name.orders.length -1]._id}}</p>
    <p>Your order is estimated to arrive on
        {{findArrivalDate(user_name.orders[user_name.orders.length -1].orderDate) | date: yyyy-MM-dd}}</p>
        <br><br>
        <p id="thankyou">Thank you for keeping trails alive.</p>
</div>

<footer-contact></footer-contact>
