
<div class="login_background_image">

<div ng-click="toggleLoginOnClick()" class="loginTitleContainer">
    <div class="small_logo"><img src="img/logo.png"></img></div>
    <div ng-hide="toggleLogin" class="large_logo"><p>Dirt Waves</p></div>
    <div><p ng-hide="toggleLogin" id= "tagline">Where trails are made</p></div>
</div>

<div ng-hide="toggleLogin" class="login_wave"></div>

<div ng-hide="toggleLogin" class="loginButton">
    <button class="btn" ng-click="toggleLoginOnClick()">Login</button>
</div>

<div ng-show="toggleLogin" class="login_input_container">
    <div class="signup">
        <p>sign up&nbsp;&nbsp;/&nbsp;&nbsp;login<br>
        <input ng-model="credentials.email" placeholder="email" type="email"></input>
        <input ng-model="credentials.password" placeholder="password" type="password"></input><br>
        <button id="register_button" type="button" class="btn" ng-click="register()">Sign Up</button>
        <button id="login_button" type="button" class="btn" ng-click="login()">&nbsp;Login&nbsp;</button>
    </div>
    <div class="fbLogin">
        <p>or login with Facebook<br>
        <a href="/login/facebook"><i class="fa fa-facebook-square fa-2x"></i></a></p>
    </div>
</div>


<!--login background image-->
</div>

<!-- <footer-contact></footer-contact> -->
