<div class="loginTitleContainer">
    <img src="img/logo.png"></img>
    <p id= "tagline">Where trails are made</p>
</div>

<div class="login_logo">
    <img src="img/sprocket.png"></img>
</div>

<div ng-hide="toggleLogin" class="loginButton">
    <p ng-click="toggleLoginOnClick()">Login</p>
</div>

<div ng-show="toggleLogin" ng-click="toggleLoginOnClick()" class="login_input_container">
    <div class="signup">
        <p>sign up & login<br>
        <input placeholder="username"></input>
        <input placeholder="password"></input><br>
    </div>
    <div class="fbLogin">
        <p>or login with Facebook<br>
        <a href="/login/facebook"><i class="fa fa-facebook-square fa-2x"></i></a></p>
    </div>
</div>


<footer-contact></footer-contact>





















<!--I have no idea how to use any of this FB stuff-->
<!-- <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '984834464904949',
      xfbml      : true,
      version    : 'v2.6'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script> -->

<!-- <div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div> -->
