<div ng-click="deselectCategory(); toggleProductImg()" class="shop_order_header">
    <P>Dirt Waves</p>
</div>

<div class="large_tagline"><p>Where trails are made</p></div>

<div class="user_status_icons_large">
    <p>You are logged in as {{user_name.name || user_name.email}}&nbsp;&nbsp;||&nbsp;&nbsp;</p><a ui-sref="checkout"><p>Proceed to shopping cart&nbsp;<i class="fa fa-shopping-cart"></i></a></p>&nbsp;&nbsp;||&nbsp;&nbsp;<p ng-click="logout()">Logout&nbsp;<i class="fa fa-times"></i></p>
</div>

<div class="user_status_icons">
        <button class="btn"><i ng-click="toggle_current_user()" class="fa fa-user fa-2x"></i></button>
        <button class="btn"><a ui-sref="checkout"<i class="fa fa-shopping-cart fa-2x"></i></a></button>
        <button ng-click="logout()" class="btn"><i class="fa fa-times fa-2x"></i></button>
</div>

<div class="user_status_text">
    <p ng-show="current_user">You are logged in as: {{user_name.name || user_name.email}}</p>
</div>

<div class="navBar_container">
<div class="navBar dropdown">
    <p ng-click="selectCategory('frame')" ng-class="{highlight: selectedCategory === 'frame'}" class="dropdown-toggle" data-toggle="dropdown">Frames</p>
        <ul id="frames" class="dropdown-menu">
            <div ng-repeat="frame in frames">
            <li ng-click="selectProduct(frame)">{{frame.title}}</li>
        </div>
        </ul>
    </div>

<div class="navBar dropdown">
    <p ng-click="selectCategory('bar')" ng-class="{highlight: selectedCategory === 'bar'}" class="dropdown-toggle" data-toggle="dropdown">Bars</p>
        <ul id="bars" class="dropdown-menu">
            <div ng-repeat="bar in bars">
            <li ng-click="selectProduct(bar)">{{bar.title}}</li>
        </div>
        </ul>
    </div>

<div class="navBar dropdown">
    <p ng-click="selectCategory('stem')" ng-class="{highlight: selectedCategory === 'stem'}" class="dropdown-toggle" data-toggle="dropdown">Stems</p>
        <ul id="stems" class="dropdown-menu">
            <div ng-repeat="stem in stems">
            <li ng-click="selectProduct(stem)">{{stem.title}}</li>
        </div>
        </ul>
    </div>

<div class="navBar dropdown">
    <p ng-click="selectCategory('tire')" ng-class="{highlight: selectedCategory === 'tire'}" class="dropdown-toggle" data-toggle="dropdown">Tires</p>
        <ul id="tires" class="dropdown-menu">
            <div ng-repeat="tire in tires">
            <li ng-click="selectProduct(tire)">{{tire.title}}</li>
        </div>
        </ul>
    </div>

<div class="navBar dropdown">
    <p ng-click="selectCategory('accessories')" ng-class="{highlight: selectedCategory === 'accessories'}" class="dropdown-toggle" data-toggle="dropdown">Acc.</p>
        <ul id="acc" class="dropdown-menu">
            <div ng-repeat="accessories in acc">
            <li ng-click="selectProduct(accessories)">{{accessories.title}}</li>
        </div>
        </ul>
    </div>
</div>

<div ng-click="deselectCategory()" ng-hide="product_img_toggle" class="shop_image"></div>

    <div ng-hide="product_img_toggle" class="featured_text"><p>The best names in trails</p></div>

<div ng-hide="product_img_toggle" class="featured_container_1">
    <div id="featured_1"></div>
</div>

<div ng-hide="product_img_toggle" class="featured_container_2">
    <div id="featured_2"></div>
</div>

<div ng-hide="product_img_toggle" class="featured_container_3">
    <div id="featured_3"></div>
</div>

<div ng-hide="product_img_toggle" class="featured_container_4">
    <div id="featured_4"></div>
</div>

<div  ng-show="product_img_toggle" class="product_content_container">
        <div class="product_title"><p>{{selectedProduct.title}}</p></div>
        <div id="product_image"><img ng-src="{{selectedProduct.image}}"></img></div>
        <div id="product_description"><p>{{selectedProduct.description}}</p></div>
        <div id="product_geo"><p>{{selectedProduct.geo}}</p></div>
        <div id="product_price"><p>${{selectedProduct.price}}</p></div>
        <button id="add_to_cart_button" ng-click="toggleAddToCartModal(selectedProduct._id); addToCart(selectedProduct._id)" ng-hide="addToCartModal[selectedProduct._id]" class="btn">add to cart</button>
        <div ng-show="addToCartModal[selectedProduct._id]" id="add_to_cart"><p>added to cart!</p></div>
</div>
