* {
    margin: 0;
    padding: 0;
}

.loginTitleContainer {
    text-align: center;
    z-index: -10;
}

.loginTitleContainer img {
    width: 96vw;
}

#tagline {
    font-family: Cedarville Cursive;
    font-size: 7vw;
}

.login_logo {
    margin-top: 10px;
    text-align: center;
}

.login_logo img {
    width: 35vw;
    height: 20vh;
}

.toggle_logo_wave_bottom img {
    margin-top: 220px;
    width: 100%;
    height: calc(100vh - 240px);
}

.loginButton {
    font-family: Amatic SC;
    text-align: center;
    margin-top: 20vh;
    color: black;
}

.loginButton button {
    background-color: white;
    border: 1px solid black;
    font-size: 20px;
}

.login_input_container {
    position: fixed;
    width: 100%;
    height: max-content;
    top: 30vh;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 100;
    color: black;
    font-family: Amatic SC;
    font-size: 8vw;
}

.signup, .login, .fbLogin {
    width: max-content;
    margin: auto;
    text-align: center;
}

 #register_button {
    border: 1px solid black;
}

#login_button {
    border: 1px solid black;
}

.fbLogin a {
    text-decoration: none;
    color: black;
}

.login_input_container input {
    border: 1px solid black;
    width: 100px;
    text-align: center;
    /*font-family: Amatic SC;*/
    font-size: 18px;
    color: black;
}

.shop_order_header {
    background-color: black;
    color: white;
    font-family: Amatic SC;
    font-size: 10vw;
    text-align: center;
}

.user_status_icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
}

.user_status_icons a {
    text-decoration: none;
    color: black;
}

.user_status_text {
    text-align: center;
    font-family: Amatic SC;
    font-size: 6vw;
    margin-top: 5px;
}

.user_status_text p {
    margin: 0px;
}

.navBar_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navBar {
    font-family: Amatic SC;
    font-size: 6vw;
    margin-top: 10px;
}

.highlight {
    text-decoration: underline;
}

.navBar li {
    padding-left: 5px;
}

#frames {
    min-width: 35vw;
}

#bars {
    min-width: 35vw;
}
#stems {
    min-width: 35vw;
}
#tires {
    min-width: 35vw;
    left: -26vw;
}
#acc {
    min-width: 35vw;
    left: -28vw;
}

.shop_image {
    position: absolute;
    bottom: 0;
    background-image: url('img/wave.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 58vh;
    z-index: -100;
}

.product_content_container {
    text-align: center;
    font-size: 6vw;
    font-family: Amatic SC;
    margin-left: 10px;
    margin-right: 10px;
}

.product_content_container img {
    width: 175px;
    height: 160px;
}

.product_content_container p {
    margin: 0px;
}

.product_title {
    font-size: 10vw;
}

#shopTagline {
    font-family: Cedarville Cursive;
    font-size: 8vw;
    text-align: center;
    margin-top: 10px;
}

.shop_logo {
    text-align: center;
}

.shop_logo img {
    width: 27vw;
    height: 15vh;
}

.checkout_item_container {
    font-family: Amatic SC;
    font-size: 6vw;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

#hr {
    margin: auto;
    width: 200px;
    margin-top: 0;
    margin-bottom: 5px;
}

.order_confirm_container {
    font-family: Amatic SC;
    font-size: 6vw;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.footerContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 1);
    padding-top: 5px;
    padding-bottom: 5px;
    position: fixed;
    bottom: 0px;
}

.footerContainer a {
    color: white;
}

.footerContainer a:visited {
    color: white;
}

.admin_header {
    font-family: Amatic SC;
    text-align: center;
    margin: auto;
    font-size: 5vw;
    width: 70%;
    border-bottom: 1px solid black;
}

.admin_btn_text {
    text-align: center;
    font-family: Amatic SC;
    font-size: 3vw;
}

.admin_btn {
    font-family: Amatic SC;
    text-align: center;
    font-size: 14px;
}

.admin_btn button {
    border: 1px solid black;
}

.admin_content_container {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    font-family: Amatic SC;
    font-size: 3vw;
    text-align: center;
}

.admin_content_container button {
    border: 1px solid black;
    font-size: 14px;
}

.admin_content {
    margin: auto;
    padding: 5vw;
}

.admin_content h3 {
    font-size: 3vw;
}

.admin_content p {
    font-family: monospace;
    font-size: 10px;
    text-align: justify;
}

.admin_content input {
    font-size: 1vw;
    font-family: monospace;
}

.admin_content input:hover {
    cursor: pointer;
}

.update_remove_btn {
    margin-left: 5px;
    margin-right: 5px;
}

.admin_product_text:hover {
    cursor: pointer;
}

.admin_select {
    background: rgb(162, 173, 173);
    text-decoration: underline;
}

#admin_content_products {
    margin-top: 0;
    padding-top: 0;
}

#admin_content_users {
    margin-top: 0;
    padding-top: 0;
}

#admin_content_orders {
    margin-top: 0;
    padding-top: 0;
}
