* {
    margin: 0;
    padding: 0;
}

.header_desktop {
    display: none;
}

.loginTitleContainer {
    text-align: center;
    z-index: -10;
}

.loginTitleContainer img {
    width: 96vw;
}

.large_logo {
    font-family: Amatic SC;
    font-size: 20vw;
    padding-top: 32vh;
    display: none;
    color: white;
    text-shadow: #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px,
             #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px;
}

#tagline {
    font-family: Cedarville cursive;
    font-size: 7vw;
}

.large_tagline {
    font-size: 60px;
    font-family: Amatic SC;
    text-align: center;
    margin-right: 10px;
    display: none;
    background: url('img/robbo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 100vw;
    color: white;
    text-shadow: #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px,
             #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px;
}

.login_logo {
    margin-top: 10px;
    text-align: center;
}

.login_logo img {
    width: 35vw;
    height: 20vh;
}

.toggle_logo_wave_bottom img {
    margin-top: 220px;
    width: 100%;
    height: calc(100vh - 240px);
}

.loginButton {
    font-family: Amatic SC;
    text-align: center;
    margin-top: 20vh;
    color: black;
}

.loginButton button {
    background-color: white;
    border: 1px solid black;
    font-size: 20px;
}

.login_wave {
    position: absolute;
    bottom: 0;
    background-image: url('img/wave.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50vh;
    z-index: -100;
    animation-name: wave;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    opacity: 1;
    transition: opacity 1s ease;
}

.login_wave.ng-hide {
    opacity: 0;
}

@keyframes wave {
    0% {
        bottom: 0;
    }
    50% {
        bottom: 20px;
    }
    100% {
        bottom: 0;
    }
}

.login_input_container {
    position: fixed;
    width: 100%;
    height: max-content;
    top: 30vh;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 100;
    color: black;
    font-family: Amatic SC;
    font-size: 8vw;
    opacity: 1;
    transition: opacity 1s ease;
}

.login_input_container.ng-hide {
    opacity: 0;
}

.signup, .login, .fbLogin {
    width: max-content;
    margin: auto;
    text-align: center;
}

 #register_button {
    border: 1px solid black;
}

#login_button {
    border: 1px solid black;
}

.fbLogin a {
    text-decoration: none;
    color: black;
}

.login_input_container input {
    border: 1px solid black;
    width: 100px;
    text-align: center;
    font-size: 18px;
    color: black;
}

.shop_order_header {
    background: linear-gradient(rgb(0, 0, 0), rgb(74, 74, 74));
    color: white;
    font-family: Amatic SC;
    font-size: 10vw;
    text-align: center;
    border: 1px solid black;
}

.user_status_icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
}

.user_status_icons a {
    text-decoration: none;
    color: black;
}

.user_status_icons_large {
    display: none;
    flex-direction: row;
    justify-content: center;
    font-family: Amatic SC;
    font-size: 3vw;
    margin-right: 10px;
    background: linear-gradient(rgb(74, 74, 74), rgb(0, 0, 0));
    width: 100vw;
    color: white;
    border: 1px solid black;
    text-decoration: none;
}

.user_status_icons_large a {
    text-decoration: none;
    color: white;
}


#logout:hover {
    color: rgb(139, 62, 185);
}

.user_status_text {
    text-align: center;
    font-family: Amatic SC;
    font-size: 6vw;
}

.user_status_text p {
    margin: 0px;
}

.navBar_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navBar {
    font-family: Amatic SC;
    font-size: 6vw;
    margin-top: 10px;
}

.open > .dropdown-menu {
    opacity: 1;
}

.dropdown-menu {
    opacity: 0;
    transition: opacity 0.5s ease;
    display: block !important;
}

.highlight {
    text-decoration: underline;
}

.navBar li {
    padding-left: 5px;
}

.navBar li:hover {
    color: rgb(139, 62, 185);
}

#frames {
    min-width: 25vw;
}

#bars {
    min-width: 25vw;
}
#stems {
    min-width: 25vw;
    left: -8vw;
}
#tires {
    min-width: 25vw;
    left: -16vw;
}
#acc {
    min-width: 26vw;
    left: -18vw;
}

.shop_background_small {
    background: url('/img/robbo.jpg');
    background-size: cover;
    background-position: right;
    height: 45vh;
    margin-left: 5vw;
    margin-right: 5vw;
    background-repeat: no-repeat;
    border: 1px solid;
}

.shop_tagline_small {
    font-family: Amatic SC;
    text-align: center;
    font-size: 10vw;
}

.shop_image {
    position: absolute;
    bottom: 0;
    background-image: url('img/wave.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 58vh;
    z-index: -100;
}

.product_content_container {
    text-align: center;
    font-size: 6vw;
    font-family: Amatic SC;
    margin-left: 10px;
    margin-right: 10px;
}

.product_content_container img {
    width: 100%;
    object-fit: contain;
}

.product_content_container p {
    margin: 0px;
}

.product_title {
    font-size: 10vw;
}

#shopTagline {
    font-family: Cedarville Cursive;
    font-size: 8vw;
    text-align: center;
    margin-top: 10px;
}

.shop_logo {
    text-align: center;
}

.shop_logo img {
    width: 27vw;
    height: 15vh;
}
#add_to_cart_button {
    margin-bottom: 48px;
}
#add_to_cart p {
    margin-bottom: 48px;
}

.checkout_item_container {
    font-family: Amatic SC;
    font-size: 6vw;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    /*padding-top: 5vh;*/
}

.order_confirm_container {
    font-family: Amatic SC;
    font-size: 6vw;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

#thankyou {
    font-size: 15vw;
}

.footerContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    background: linear-gradient(rgb(0, 0, 0), rgb(74, 74, 74));
    padding-top: 5px;
    padding-bottom: 5px;
    position: fixed;
    bottom: 0px;
    border: 1px solid black;
}

.footerContainer a {
    color: white;
}

.footerContainer a:visited {
    color: white;
}

.admin_header {
    font-family: Amatic SC;
    text-align: center;
    margin: auto;
    font-size: 5vw;
    width: 60%;
    border-bottom: 1px solid black;
}

.admin_btn_text {
    text-align: center;
    font-family: Amatic SC;
    font-size: 3vw;
}

.admin_btn {
    font-family: Amatic SC;
    text-align: center;
    font-size: 14px;
}

.admin_btn button {
    border: 1px solid black;
}

.admin_container {
    display: flex;
    flex-direction: row;
    margin-top: 5vw;
}

.admin_container button {
    border: 1px solid black;
}

.admin_container input {
    border: 1px solid black;
}

.admin_input {
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    margin-right: 5vw;
}

.admin_text {
    display: flex;
    flex-direction: column;
    margin-right: 15vw;
}

.admin_content_container {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    font-family: Amatic SC;
    font-size: 3vw;
    text-align: center;
    margin-left: 5vw;
    margin-right: 5vw;
}

.admin_content_container button {
    border: 1px solid black;
    font-size: 14px;
}

.admin_content {
    margin: auto;
    padding: 5vw;
}

.admin_content h3 {
    font-size: 3vw;
}

.admin_content p {
    font-family: monospace;
    font-size: 10px;
    text-align: justify;
}

.admin_content input {
    font-size: 1vw;
    font-family: monospace;
}

.admin_content input:hover {
    cursor: pointer;
}

.update_remove_btn {
    margin-left: 5px;
    margin-right: 5px;
}

.admin_product_text:hover {
    cursor: pointer;
}

.admin_select {
    background: rgb(162, 173, 173);
    text-decoration: underline;
}
#admin_content_products {
    margin-top: 0;
    padding-top: 0;
}

#admin_content_users {
    margin-top: 0;
    padding-top: 0;
}

#admin_content_orders {
    margin-top: 0;
    padding-top: 0;
}

#admin_content_trails {
    margin-top: 0;
    padding-top: 0;
}

.trails_title_text {
    font-family: Amatic SC;
    font-size: 10vw;
    text-align: center;
    margin: auto;
    border-bottom: 1px solid black;
    width: 70%;
}

.trails_search {
    text-align: center;
    font-family: Amatic SC;
    font-size: 6vw;
    margin-top: 20px;
    margin-left: 30vw;
    border: 1px solid black;
}

.trails_collection_container {
    margin: auto;
    text-align: justify;
    font-family: Amatic SC;
    font-size: 6vw;
    margin: 20px;
    margin-bottom: 50px;
}
/*==========================================================================*/
/*Media Queries*/

/*iPad 768 x 1024*/
@media (min-width: 768px) {
    .shop_order_header {
        display: none;
    }
    .login_background_image {
        background: url('/img/robbo.jpg');
        background-size: cover;
        background-position: right;
        height: 95vh;
    }
    .small_logo {
        display: none;
    }
    .large_logo {
        display: block;
    }
    #tagline {
        font-size: 5vw;
        font-family: Amatic SC;
        color: white;
        text-shadow: #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px,
             #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px;
        margin-top: -5vh;
    }
    .large_tagline {
        display: block;
    }
    .large_tagline p {
        margin: 0;
    }
    .loginButton {
        margin-top: 0vh;
    }
    .login_input_container {
        font-size: 40px;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        color: white;
        text-shadow: #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px,
             #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px;
    }
    #register_button {
        color: black;
    }
    #login_button {
        color: black;
    }
    .fbLogin a {
        color: white;
        text-shadow: #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px,
             #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px;;
    }
    .login_wave {
        display: none;
    }
    .header_desktop {
        display: flex;
        font-family: Amatic SC;
        background: black;
        color: white;
        border: 1px solid black;
        margin-top: -5px;
        margin-bottom: -15px;
    }
    #title_desktop {
        display: flex;
        margin-left: 3vw;
        font-size: 50px;
    }
    #nav_desktop {
        display: flex;
        font-size: 22px;
        margin-right: 3vw !important;
        margin: auto;
        text-decoration: none;
    }
    #nav_desktop a {
        color: white;
        text-decoration: none;
    }

    #frames {
        font-size: 3vw;
        background: rgba(62, 62, 62, 1);
        border: 1px solid black;
    }
    #bars {
        font-size: 3vw;
        background: rgba(62, 62, 62, 1);
        border: 1px solid black;
    }
    #stems {
        font-size: 3vw;
        background: rgba(62, 62, 62, 1);
        border: 1px solid black;
    }
    #tires {
        font-size: 3vw;
        background: rgba(62, 62, 62, 1);
        border: 1px solid black;
    }
    #acc {
        font-size: 3vw;
        background: rgba(62, 62, 62, 1);
        border: 1px solid black;
    }
    .shop_background_small {
        display: none;
    }
    .shop_tagline_small {
        display: none;
    }
    .shop_background_large {
        background: url('/img/checkout_bg.jpg');
        background-size: cover;
        background-position: right;
        height: 100vh;
    }
    .navBar_container {
        background: rgba(62, 62, 62, 1);
        border: 1px solid black;
        color: white;
        text-shadow: #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px,
             #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px;
    }
    .navBar li {
        background: rgba(62, 62, 62, 1);
        color: white;
        text-shadow: #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px,
             #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px;
        font-size: 25px;
    }
    .navBar {
        font-size: 25px;
    }
    .footerContainer {
        position: relative;
        justify-content: center;
    }
    .footerContainer i {
        font-size: 3em;
        padding-left: 10px;
        padding-right: 10px;
    }
    .footerContainer a:hover {
        color: rgb(139, 62, 185);
    }

    .trails_contact {
        font-size: 3em;
    }
    .product_content_container {
        font-size: 4vw;
        margin-left: 15vw;
        margin-right: 15vw;
        padding-top: 5vh;
        color: white;
        text-shadow: #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px,
             #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px;
    }
    .product_title {
        font-size: 8vw;
        text-align: center;
        color: white;
        text-shadow: #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px,
             #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px;
        background: rgba(112, 112, 112, 0.79);
        border: 1px solid black;
    }
    #product_description {
        color: white;
        background: rgba(112, 112, 112, 0.79);
        text-shadow: #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px,
             #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px;
             border: 1px solid black;
    }
    .product_content_container p {
        margin-left: 5vw;
        margin-right: 5vw;
    }
    .checkout_item {
        text-align: center;
        color: white;
        text-shadow: #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px,
             #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px;
    }
    .shop_image {
        display: none;
    }
    #add_to_cart_button {
        font-size: 3vw;
        color: black;
        border: 1px solid black;
    }
    .featured_container_1 {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    #featured_1 {
        background: url('img/deluxe_featured.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vh;
        height: 22vh;
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 10px;
        margin-bottom: 10px;
        border: 1px solid black;
    }
    .featured_container_2 {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    #featured_2 {
        background: url('img/tree_featured.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vh;
        height: 22vh;
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 10px;
        margin-bottom: 10px;
        border: 1px solid black;
    }
    .featured_container_3 {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    #featured_3 {
        background: url('img/demo_featured.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vh;
        height: 22vh;
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 10px;
        margin-bottom: 10px;
        border: 1px solid black;
    }
    .featured_container_4 {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    #featured_4 {
        background: url('img/profile_featured.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vh;
        height: 22vh;
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 10px;
        margin-bottom: 10px;
        border: 1px solid black;
    }
    #submit_order_button {
        font-size: 18px;
        border: 1px solid black;
        color: black;
    }
    #thankyou {
        font-size: 85px;
    }
    .order_summary {
        font-size: 45px;
        text-align: center;
        color: white;
        text-shadow: #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px,
             #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px;
    }
    .checkout_item_container {
        font-size: 34px;
        margin-left: 15vw;
        margin-right: 15vw;
        margin-bottom: 2vw;
        text-align: justify;
        background: rgba(112, 112, 112, 0.79);
        border: 1px solid black;
    }
    .order_confirm_container {
        font-size: 40px;
        text-align: center;
        color: white;
        text-shadow: #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px,
             #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px;;
        margin-left: 15vw;
        margin-right: 15vw;
        background: rgba(112, 112, 112, 0.79);
        border: 1px solid black;
    }

    .user_status_icons {
        display: none;
    }
    .shop_order_header {
        font-size: 7vw;
        text-align: left;
        padding-left: 40px;
    }
    .shop_order_header p {
        margin: 0;
    }
    .checkout_background {
        background: url('img/checkout_bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100vh;

    }
    #total {
        font-size: 7vw;
    }
    #trails_header {
        font-size: 10vw;
        text-align: left;
        padding-left: 40px;
    }
    .user_status_icons_large {
        display: flex;
    }
    .user_status_icons_large a:hover {
        color: rgb(139, 62, 185);
        text-decoration: none;
    }
    .navBar {
        margin-top: 0;
    }
    .product_content_container img {
        border: 1px solid black;
    }
    #trails_header {
        font-size: 50px;
    }
    .trails_title_text {
        font-size: 60px;
    }
    .trails_search {
        font-size: 30px;
        margin-left: 38%;
    }
    .trails_collection_container {
        margin-left: 5vw;
        margin-right: 5vw;
        font-size: 30px;
    }
}

/*============================================================================*/
@media (min-width: 800px) {
    .large_tagline {
        font-size: 10vw;
    }
    .navBar {
        font-size: 25px;
    }
    .navBar li {
        font-size: 25px;
    }
    .highlight {
        text-decoration: none;
    }
    #featured_1 {
        height: 28vh;
    }
    #featured_2 {
        height: 28vh;
    }
    #featured_3 {
        height: 28vh;
    }
    #featured_4 {
        display: none;
    }
    .navBar:hover {
        color: rgb(139, 62, 185);
    }
    .product_title {
        font-size: 5vw;
    }
    .product_content_container {
        font-size: 3vw;
        margin-left: 20vw;
        margin-right: 20vw;
        padding-top: 5vh;
    }
    .trails_collection_container {
        margin-left: 10vw;
        margin-right: 10vw;
    }
}

/*===========================================================================*/
@media (min-width: 900px) {
    #featured_1 {
        margin-left: 10vw;
        margin-right: 10vw;
    }
    #featured_2 {
        margin-left: 10vw;
        margin-right: 10vw;
    }
    #featured_3 {
        margin-left: 10vw;
        margin-right: 10vw;
    }
    #featured_4 {
        margin-left: 10vw;
        margin-right: 10vw;
    }
    .product_content_container {
        font-size: 20px;
    }
    .checkout_item_container {
        font-size: 20px;
        margin-left: 24vw;
        margin-right: 24vw;
    }
    .order_confirm_container {
        margin-left: 24vw;
        margin-right: 24vw;
    }
    #add_to_cart_button {
        font-size: 2vw;
    }
    .trails_collection_container {
        margin-left: 15vw;
        margin-right: 15vw;
    }
}

/*===========================================================================*/
@media (min-width: 1000px) {
    .large_logo {
        font-size: 15vw;
    }
    #tagline {
        margin-top: -7vh;
    }
    #featured_1 {
        height: 31vh;
    }
    #featured_2 {
        height: 31vh;
    }
    #featured_3 {
        height: 31vh;
    }
    .checkout_item_container {
        font-size: 20px;
        margin-left: 28vw;
        margin-right: 28vw;
    }
    .order_confirm_container {
        margin-left: 28vw;
        margin-right: 28vw;
    }
}

/*============================================================================*/
@media (min-width: 1100px) {
    #featured_1 {
        height: 28vh;
        margin-left: 17vw;
        margin-right: 17vw;
    }
    #featured_2 {
        height: 28vh;
        margin-left: 17vw;
        margin-right: 17vw;
    }
    #featured_3 {
        height: 28vh;
        margin-left: 17vw;
        margin-right: 17vw;
    }
    .checkout_item_container {
        font-size: 25px;
        margin-left: 30vw;
        margin-right: 30vw;
    }
    .order_confirm_container {
        margin-left: 30vw;
        margin-right: 30vw;
    }
}

/*============================================================================*/
@media (min-width: 1200px) {
    #featured_1 {
        height: 31vh;
    }
    #featured_2 {
        height: 31vh;
    }
    #featured_3 {
        height: 31vh;
    }
    .large_tagline {
        font-size: 80px;
    }
    .user_status_icons_large {
        font-size: 25px;
        justify-content: flex-start;
        padding-left: 10px;
    }
    .shop_order_header {
        font-size: 60px;
    }
    #add_to_cart_button {
        font-size: 18px;
    }
    #add_to_cart p {
        margin-left: 20vw;
        margin-right: 20vw;
    }
    #total {
        font-size: 50px;
    }
    #submit_order_button {
        font-size: 22px;
    }
}

/*===========================================================================*/
@media (min-width: 1300px) {
    .large_logo {
        font-size: 12vw;
        padding-top: 29vh;
    }
    #featured_1 {
        display: none;
    }
    #featured_2 {
        display: none;
    }
    #featured_3 {
        display: none;
    }
    #featured_4 {
        display: none;
    }
    .product_content_container {
        margin-left: 23vw;
        margin-right: 23vw;
    }
}

@media (min-width: 1400px) {
    #thankyou {
        margin-left: 5vw;
        margin-right: 5vw;
    }
}

/*============================================================================*/
@media (min-width: 1500px) {
    .large_logo {
        padding-top: 25vh;
    }
    .product_content_container {
        margin-left: 25vw;
        margin-right: 25vw;
    }
}

/*============================================================================*/
@media (min-width: 1600px) {
    #thankyou {
        margin-left: 10vw;
        margin-right: 10vw;
    }
}

/*============================================================================*/
@media (min-width: 1800px) {
    .product_content_container {
        margin-left: 27vw;
        margin-right: 27vw;
    }
    .login_background_image {
        background-position: top;
    }
    .checkout_item_container {
        font-size: 30px;
    }
}
