<div id="trails_header"class="shop_order_header">
    <P>Dirt Waves</p>
</div>


<div class="header_desktop">
    <div id="title_desktop"><p>Dirt Waves</p></div>
    <div id="nav_desktop"><p>You are logged in as {{user_name.name || user_name.email}}&nbsp;&nbsp;||&nbsp;&nbsp;<a ui-sref="shop"><p>Proceed to Catalog&nbsp;<i class="fa fa-shopping-bag"></i></a></p>&nbsp;&nbsp;||&nbsp;&nbsp;<p id="logout" ng-click="logout()">Logout&nbsp;<i class="fa fa-times"></i></p></div>
</div>


<div class="user_status_icons">
    <button class="btn"><i ng-click="toggle_current_user()" class="fa fa-user fa-2x"></i></button>
    <button class="btn"><a ui-sref="shop"<i class="fa fa-shopping-cart fa-2x"></i></a></button>
    <button ng-click="logout()" class="btn"><i class="fa fa-times fa-2x"></i></button>
</div>

<div class="user_status_text">
    <p ng-show="current_user">You are logged in as: {{user_name.name || user_name.email}}</p>
</div>


<div class="trails_title_text"><p>Trails Database</p></div>

<input ng-model="trail" class="trails_search" type="text" placeholder="Search by City/State"></input>

<div ng-repeat="trail in trails | filter: trail" class="trails_collection_container">
    <p>{{trail.name}}</p>
    <p>{{trail.city}}, {{trail.state}}&nbsp;{{trail.zipcode}}</p>
    <p>Locals: {{trail.contact}}</p>
    <p>Description: {{trail.description}}</p>
</div>


<div id="trails_contact"class="footerContainer">
    <a href="https://www.facebook.com/adamshaleen" target="_blank"><i class="fa fa-facebook-square fa-2x"></a></i>
    <a href="https://twitter.com/CanYouDigItBMX" target="_blank"><i class="fa fa-twitter-square fa-2x"></a></i>
    <a href="https://www.instagram.com/twelfthstreet_trails/" target="_blank"><i class="fa fa-instagram fa-2x"></a></i>
</div>
